/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.footer{
  max-width: 1110px;
  width: 100vw;;
  min-height: 149px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 29px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px 30px 0px 0px;
}

.footer__column{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__author{
  padding: 0;
  margin: 0;

  font-family: 'Montserrat';
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-links{
  font-size: 0;
}

.footer__column-links_type_languages{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 17px;
}

.footer__column-link{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;

  opacity: 1;
  -webkit-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.footer__column-link:hover{
  opacity: 0.6;
}

.footer__column-link:active{
  opacity: 1;
}

.footer__column-link_type_lang{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #101010;
}

.footer__column-link_active{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #FFA542;
}

.footer__column-links_type_sections{
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.footer__column-links_type_other{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 35px;
}

.footer__column-links_type_social{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17.9px;
}

.footer__languages-icon{
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../images/planet.svg) no-repeat center / contain;
}

.footer__social-icon{
  width: 31px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and ( max-width: 650px ) {
  .footer{
    flex-direction: column;
  }

  .footer__column{
    align-items: center;
    margin: 10px;
  }
}