/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.header{
  min-width: 1110px;
  min-height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 29px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__buttons{
  min-width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__buttons-element {
  min-height: 24px;
  display: block;
  position: relative;
  font-size: 0;
}

.header__buttons-link{
  display: block;
  height: 100%;
}

.header__button{
  cursor: pointer;
}

.header__button_type_favorite{
  width: 22px;
  height: 20px;
  background: url(../images/favorites.svg) no-repeat center / contain;
}

.header__button-counter{
  position: absolute;
  bottom: 14px;
  left: 15.5px;

  display: block;
  width: 17.4px;
  height: 17.4px;
  background: #FFA542;
  border-radius: 50%;

    
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;

  color: #fff;
}

.header__button_type_trash {
  width: 23.2px;
  height: 23.2px;
  background: url(../images/trash.svg) no-repeat center / contain;
}