/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.products{
  max-width: 1110px;
  /* 88px - высота header
  149px - высота footer
  40px - margin products */
  min-height: calc(100vh - 88px - 149px - 40px);
  width: 100vw;
  margin: 20px 0;
}

.cards{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.cards__title{
  margin: 0 0 0 29px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #838383;
}

.cards__grid{
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.cards__grid-item{
  border-radius: 30px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.card{
  width: 100%;
  height: 100%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__photo{
  min-height: 305px;
  max-width: 220px;
  -o-object-fit: contain;
     object-fit: contain;
}

.card__figcaption{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0 22px;
  margin-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.card__figcaption-line{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.card__title{
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: #1C1C27;
}

.card__price{
  margin-right: 10px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: #FFA542;
}

.card__price::after{
  content: ' \20BD';
}

.card__old-price{
  position: absolute;
  top: 21px;
  right: 12px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #FFCE7F;
}

.card__rate{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: #838383;
  vertical-align: top;
}

.card__rate::before{
  content: '';

  /* костыль для выравнивания */
  position: relative;
  top: 4px; 

  display: inline-block;
  width: 23px;
  height: 23px;
  margin-right: 10px;
  background: url(../images/star.svg) no-repeat center / contain;
}

.card__buy{
  padding: 10px;
  border-radius: 10px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: #000;

  -webkit-transition: color .15s linear, background-color .15s linear;
  -o-transition: color .15s linear, background-color .15s linear;
  transition: color .15s linear, background-color .15s linear;
}

@media screen and (max-width: 1110px) {
  .cards__title{
    margin: auto;
  }
}