/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.products{
  max-width: 1110px;
  /* 88px - высота header
  149px - высота footer
  40px - margin products */
  min-height: calc(100vh - 88px - 149px - 40px);
  width: 100vw;
  margin: 20px 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products__title{
  margin: 0 0 13px 29px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  
  color: #1C1C27;
}

.cards{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards__grid{
  max-width: 633px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.result-container{
  max-height: 120px;
  max-width: 350px;
  width: 100%;

  background: #fff;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.result-container__text{
  margin: 22px 22px 15px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.result-container__title{
  margin: 0;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000;
}

.result-container__price-counter{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000;
}

.result-container__price-counter::before{
  content: '\20BD  ';
}

.result-container__btn{
  width: 100%;
  padding: 22px 13px;

  background: #101010;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  color: #fff;
}

.card{
  width: 100%;
  max-height: 218px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  background: #fff;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.card__first-column{
  padding: 18px;
  
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;

}

.card__photo{
  max-height: 136px;
  min-width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.card__item-count-manage{
  min-width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}

.card__decrement-count-item{
  width: 35px;
  height: 35px;
  background: url(../images/btnDecrement.svg) no-repeat center / contain;
}

.card__counter-item{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: #000;
}

.card__increment-count-item{
  width: 35px;
  height: 35px;
  background: url(../images/btnIncrement.svg) no-repeat center / contain;
}

.card__two-column{
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.card__manage{
  padding: 18px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.card__btn-delete{
  width: 21px;
  height: 21px;
  background: url(../images/trashCard.svg) no-repeat center / contain;
}

.card__main-info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
}

.card__title{
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #1C1C27;
}

.card__price{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #AAA;
}

.card__price::after{
  content: ' \20BD';
}

.card__result-price-container{
  padding: 18px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.card__result-price{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: #1C1C27;
}

.card__result-price::after{
  content: ' \20BD';
}

@media screen and (max-width: 1110px) {
  .products__title{
    margin-left: auto;
    margin-right: auto;
  }
  .cards{
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}