/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.logo{
  /* гарантия отсутствия случайных отступов от браузера у img */
  display: block;
  width: 85px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

.page{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #EAEAEA;
}

.button-zeroing {
  padding: 0;
  border: none;
  background: none;
}

.html-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.html-interactive{
  opacity: 1;
  -webkit-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.html-interactive:hover {
  opacity: 0.6;
}

.transition-background:hover{
  background-color: #000;
  color: #fff;
}